li {
    color: white;
    font-size: 30px;
    float: left;
    display: block;
    padding: 0;
    margin: -0.2% 2% 0% 0%;
}
li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul {
    margin: 0 0 0 0;
    padding: 0;
    overflow: auto;
}
li a:hover{
    background-color: black
}
.nav {
    background-color: dimgray;
    overflow: auto;
    margin:  0 0 0 0;
    padding: auto;
}

body {
    padding: 0;
    margin: 0;
}

.Quote a{
    text-decoration: none;
    color: black;
}
.Quote a:hover{
    color: red;
}
.Quote p{
    font-size: 20px;
}

html {
    background-color: skyblue;
}
.Quote .retard{
    font-family: fantasy;
}
